body {
    font-family: Arial, sans-serif;
    background-color: #1dd1dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #e9ebdd;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.signin-form {
    width: 500px;
    margin: auto;
    height: max-content;
}

.signin-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 3px;
    background-color:pink;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1dd1dd;
}